{% extends 'base.html'%}
{% load static %}
{%block content %}

<div class="article">
    <div class="row">
        <div class="col-md-12"> <h2>{{course.name}}  {{course.get_max_score.score}}</h2></div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12"> 
<div id="app">
        <table>
            <thead>
                <tr>
                    <th>Фамилия </th>
                    {%for checkpoint in checkpoint_list %}
                    <td> 
                        {{checkpoint.name }}
                        <input class="mark-all" checkpoint="{{checkpoint.id}}">
                    </td>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for student in table%}
                <tr>
                    <td> {{student.name}}</td>
                    {%for mark in student.mark_data %}
                    <td> 
                        <mark-score :student="{{student.id}}" :checkpoint="{{mark.checkpoint.id}}"></mark-score>
                    </td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%verbatim%}
    <input v-model="message">
  <div> <b>{{ message*12 }}</b></div>
    <input v-model="student">
    <input v-model="checkpoint">

</div>
</div>
        {%endverbatim%}
    </div>
</div>
</div>

<script>
Vue.component('mark-score', {
  props: ['student','checkpoint'],
  data:function(){
      return{
        score:0,
        isLoadin:false,
      }
  },
    methods:{
        postData(){
            this.isLoadin=true
                $.post('/api/post_mark/',{
                    score:this.score,
                    student:this.student,
                    checkpoint:this.checkpoint,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }).done((response)=>{
                    this.isLoadin=false
                    this.score =response.score
                })
        },
    },
    watch:{
        score(){this.postData()}
    },
    template: `<div><input v-model="score" :class="isLoadin? 'alert-danger':'alert-sucess'"> <b v-html="score"></b> </div>`
    })

var app = new Vue({
  el: '#app',
  data: {
    message: 0,
    score:'',
    student:'',
    checkpoint:'',
  },
})
</script>
<script>

    $('input.mark-all').on('input',function(event){
        let checkpoint =  this.getAttribute('checkpoint')
        let score =  this.value
        $.post('/api/post_mark2/',{
                score,
                checkpoint,
        }).done(function(response){
            let input_list = ('input.mark.checkpoint-'+checkpoint).
            for(let i=0;i<response.length;i++){
                for(let i=0;i<response.length;i++){
                    if
                    input_list[i].value= data[i].score
                }
            }
            
        })
        
    })
    
    $('input.mark').on('input',function(event){
        let score =  this.value
        let student =  this.getAttribute('student')
        let checkpoint =  this.getAttribute('checkpoint')
        this.classList.add("alert-danger");
        that =this
        $.post('/api/post_mark/',{
                score,
                student,
                checkpoint,
                csrfmiddlewaretoken: '{{ csrf_token }}'
        }).done(function(){
            that.classList.remove("alert-danger");
        })
    })
</script>
{%endblock%}
