{% extends 'base.html'%}
{% load static %}
{%block content %}

<div> вы искали: {{request.GET.search}}</div>
<div class="row">
    {% for cours in course_list%}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <b> номер итерации {{forloop.counter0}}</b>
        <div class="article">
            <div class="row">
                <div class="col-md-12"> <h2>{{cours.name}}  {{cours.get_max_score.score}}</h2></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12"> 
                    <ul>
                        {%for mark in cours.mark_set.all %}
                        <li>{{mark}}</li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
        {%endfor%}
</div>
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="/course?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="/course?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{%endblock%}
